# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# Virtual environment
venv/
.venv/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Sensitive files
.env